/* --- 01 TYPOGRAPHY SYSTEM
- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
   
- Font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700 

- Line heights (px)
Default: 1
Small: 1.05
Medium: 1.2
Paragraph: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary: #D28887 #7B0017
- Tints: #F2DAD9 #DDBEB7
#FCF3F3 #F4F1EA #fcfbf9
-Shadows: #C57776 #4F000F
- Greys: 
#BEBEBE
#8D8C8C
#6B6B6B
#555555

--- 03 WHITE SPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* for font-size: 10px = 1rem;
  10px / 16px = 0.625 = 62.5% 
  Percentage of user's browser font-size setting*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  background-color: #f4f1ea;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.scroll {
  overflow: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4rem;
  row-gap: 6.4rem;
}

.heading-primary {
  font-weight: 500;
  color: #7b0017;
  letter-spacing: 0.8px;
  /*text-transform: uppercase;*/
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-weight: 600;
  color: #7b0017;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.25px;
  line-height: 1.2;
  margin-bottom: 0.05rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #7b0017;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #7b0017;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-item-2 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
}

.list-item-1 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  line-height: 1.6;
}

.list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list-item-last {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ea;

  /* Because we want header to be sticky later */
  height: 8rem;
  padding: 2rem 12rem;
  position: relative;
}

/**************************/
/* NAVIGATION */
/**************************/

.logo-img-nav {
  width: 12rem;
  padding: 1rem 1rem 1rem 1rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
  letter-spacing: 0.8px;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #4f000f;
}

.main-nav-link-1:link,
.main-nav-link-1:visited {
  display: inline-block;
  text-decoration: none;
  color: #7b0017;
  font-weight: 500;
  font-size: 3.2rem;
  transition: all 0.3s;
  letter-spacing: 0.8px;
}

.main-nav-link-1:hover,
.main-nav-link-1:active {
  color: #4f000f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.4rem 2.4rem;
  border-radius: 0px;
  color: #f4f1ea;
  background-color: #7b0017;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #4f000f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***************/
/* STICKY NAVIGATION */
/***************/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(252, 251, 249, 0.97);
  z-index: 999;
  /*box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);*/
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #f4f1ea;
  padding: 10rem 0 10rem 0;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.hero-text-box {
  width: 56rem;
  background-color: #f4f1ea;
  padding: 4rem 4rem;
  opacity: 95%;
  margin-bottom: -4.8rem;
  z-index: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.hero-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}

.hero-img {
  width: 120%;
  z-index: -2;
  margin-top: -4.2rem;
  transition: all 0.4s;
}

.hero-img:hover {
  transform: scale(1.05);
}

/**************************/
/* EMPTY SECTION */
/**************************/

.section-description {
  background-color: #fcfbf9;
  padding: 10rem 0 10rem 0;
}

.description {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 14rem 0 12rem;
  gap: 2rem;
  align-items: center;
}

/**************************/
/* EDUCATION SECTION */
/**************************/

.section-education {
  padding: 10rem 0 10rem 0;
}

.education {
  background-color: #f4f1ea;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 62rem 0 12rem;
  gap: 2rem;
  align-items: center;
}

/**************************/
/* EXPERIENCE SECTION */
/**************************/

.section-experience {
  background-color: #fcfbf9;
  padding: 10rem 0 10rem 0;
}

.experience {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 62rem 0 12rem;
  gap: 2rem;
  align-items: center;
}

/**************************/
/* SKILLS & TOOLS SECTION */
/**************************/

.section-tools {
  background-color: #f4f1ea;
  padding: 10rem 0 10rem 0;
}

.tool {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 12rem;
  gap: 2rem;
  align-items: center;
}

.tools-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.25px;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.tools-title-2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.25px;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

/**************************/
/* PORTFOLIO SECTION */
/**************************/

.section-portfolio {
  background-color: #fcfbf9;
  padding: 10rem 0 10rem 0;
}

.container-1 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.portfolio {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 12rem 0 12rem;
  gap: 2rem;
  align-items: center;
}

.projects {
  background-color: #fcfbf9;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
  position: relative;
}

/*.projects-arch {
  background-color: #000;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
  position: relative;
} */

.label {
  position: absolute;
  top: 10%;
  right: -32%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fcfbf9;
  background-color: #7b0017;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.projects:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.projects-arch:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-img {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #fcfbf9;
}

.project-content {
  padding: 2rem 0rem 2rem 2rem;
}

.project-title {
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
  line-height: 1.2;
}

.project-title-1 {
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
  line-height: 1.2;
}

.project-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-top: 1rem;
}

.card {
  text-decoration: none;
  cursor: pointer;
}

#card-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 12rem;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  cursor: pointer;
  display: none;
}

/**************************/
/* CONTACTS SECTION */
/**************************/

.section-contacts {
  background-color: #f4f1ea;
  padding: 10rem 0 10rem 0;
}

.contacts {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 12rem;
  gap: 2rem;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.inner-link {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #000;
}

.icon-text {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  gap: 1.2rem;
  line-height: 2.4;
}

.icon-text-last {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  gap: 1.2rem;
  line-height: 2.4;
}

/***************/
/* FOOTER SECTION */
/***************/

.section-footer {
  background-color: #fcfbf9;
  padding: 4rem 0 1rem 0;
  /* border-top: 1px solid #eee; */
}

.grid--footer {
  max-width: 80rem;
  padding: 0 10rem;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  text-align: center;
}

.footer-text {
  color: #000;
  font-size: 1.5rem;
  gap: 1.2rem;
  line-height: 2;
  margin-top: 1.8rem;
}

.logo-img {
  width: 12rem;
  padding: 1rem 1rem 1rem 1rem;
}

/***************/
/* OVERLAY */
/***************/

.overlay {
  height: 87%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 9rem;
  left: 0;
  background-color: rgba(252, 251, 249, 0.95);
  overflow-x: hidden;
  transition: 0.8s ease-in;
}

.overlay-content {
  position: relative;
  top: 6rem;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}

/*new
.overlay-brand {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 9rem;
  left: 0;
  background-color: rgba(252, 251, 249, 0.95);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.8s ease-in;
}

#carousel {
  position: absolute;
  overflow-y: hidden;
}

#carouseldrag {
  cursor: grab;
  width: 80%;
  height: auto;
  max-height: 80%;
  display: block;
  margin: auto;
}

*/

.img-content {
  max-width: 100vw;
}

.closebtn {
  position: absolute;
  display: block;
  transition: 0.3s;
  font-size: 3rem;
  padding: 1rem;
  right: 1rem;
  top: 0.4rem;
  text-decoration: none;
  color: #000;
}

.closebtn:hover,
.closebtn:focus {
  color: #bebebe;
}

.uparrow {
  position: sticky;
  display: block;
  transition: 0.3s;
  font-size: 3rem;
  justify-items: center;
  margin-left: auto;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  text-decoration: none;
  color: #000;
}

.uparrow:hover {
  color: #bebebe;
}

.btn-prototype {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  margin-top: -10rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 3.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--1:link,
.btn--1:visited {
  background-color: #004350;
  color: #fff;
}

.btn--1:hover,
.btn--1:active {
  background-color: #ff6b35;
}

.btn--2:link,
.btn--2:visited {
  background-color: #133e57;
  color: #fff;
}

.btn--2:hover,
.btn--2:active {
  background-color: #69b2d1;
}

.btn--3:link,
.btn--3:visited {
  background-color: #184655;
  color: #fff;
}

.btn--3:hover,
.btn--3:active {
  background-color: #4db29a;
}

.btn--4:link,
.btn--4:visited {
  background-color: #051854;
  color: #fff;
}

.btn--4:hover,
.btn--4:active {
  background-color: #cc61d1;
}
